.wrap {
    /* 置中 */
    width: 600px;
    margin: auto;
    background: #aaa;
    flex-wrap: wrap;
}
.self-profile .item > h3 {
    width: 100%;
    margin: auto;
    font-size: 42px;
    text-align: center;
}

.self-profile .wrap {
    display: flex;
}

.self-profile .wrap .item {       
    background-color: #f66;     
    width: 256px;
    border: 2px solid;
    padding: 10px;
    margin: 0 10px;
    text-align: center;
}
