* {
    font-family: 'Noto Sans TC', sans-serif;
}

.header {
    display: flex;
    /* padding- 上下 左右 */
    padding: 6px 10px;
    background-color: #000;
}

.header article{
    width: 100%;
    text-align: center;

    line-height: 52px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
}

.banner img {
    width: 100%;
    height: 300px;
    padding: 0 0 30px;
}

.profile {
    background-color: #cff;
    text-align: center;
}
.profile .wrap {
    width: 800px;
    /* TODO 不加margin auto時justify-content怎麼調都沒用 */
    margin: auto;

    display: flex;
    justify-content: space-between;
}
.profile .item {
    width: 50%;
}
.profile .item img {
    width: 300px;
    vertical-align: bottom;
}

.profile .item > h2 {
    width: 100%;
    margin: auto;
    font-size: 42px;
    text-align: center;
}

.workExp > h2 {
    width: 100%;
    margin: auto;
    font-size: 42px;
    text-align: center;
}
.workExp > article {
    width: 660px;
    text-align: center;
    margin: auto;
    padding: 20px 
    
    0px 40px;
}
